{{ ansible_managed | comment }}
acl gearboxes {
    192.168.0.0/16;
    localhost;
    localnets;
};
options {
  directory "{{ dns_datadir }}";
  auth-nxdomain no;   # RFC1035 conforming
  listen-on { any; };
  listen-on-v6 { any; };
  allow-query { gearboxes; };
  forwarders {
    9.9.9.9;
    8.8.8.8;
  };
  forward only;
  dnssec-enable yes;
  dnssec-validation yes;
};

{% if dns_caching_dns is defined %}
zone "." {
  type hint;
  file "{{ dns_datadir }}/named.root";
};
{% endif %}

{% for zone in dns_zones %}
zone "{{ zone.name }}" {
  type master;
  file "{{ dns_datadir }}/{{ zone.name }}.conf";
};
{% endfor %}

include "{{ dns_confdir }}/rndc.key";

controls {
  inet 127.0.0.1 port 953
  allow { 127.0.0.1; } keys { "rndc-key"; };
};
